*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container .box{
    position: relative;
    width: 736px;
    height: 414px;
    border: 2px solid black;
    background: url(https://i.pinimg.com/736x/d6/7c/3c/d67c3cbce4d7e9355e8522e10434d76c.jpg);
    background-image: cross-fade();
}
.container .box .ball{
    position: absolute;
    top: 200px;
    left: 330px;
    width: 50px;
    height: 50px;
}
.ball img{
    width: 80px;
    height: 80px;
}
.part-2{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
button{
    width: 40px;
    height: 40px;
    background-color: #5dff66;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #1bc423;
}